{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <details>
        <summary>Copyright 1999-2014.</summary>
        <section>
          <p> - by Refsnes Data. All Rights Reserved.</p>
          <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
        </section>
      </details>
</body>
</html>