{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Шрифты-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <!--Локальные стили-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-headers.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-info.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-hearstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-reviews.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-fq.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-footer.css' %}">

    <title>HIS.Barber</title>

  </head>
  <body>
    {% block content %}
    <!--Навигационная панель начало-->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-0 bg-black sticky-top">
      <a href="/" class="d-flex align-items-center col-md-3 mb-md-0 text-decoration-none">
        <h3 class="nav-logo">HIS</h3>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        
        <li><a href="#menu" class="nav-link-lo">Услуги</a></li>
        <li><a href="#" class="nav-link-lo">Мастера</a></li>
        <li><a href="#" class="nav-link-lo">Работы</a></li>
        <li><a href="#review" class="nav-link-lo">Отзывы</a></li>
        <li><a href="#fq" class="nav-link-lo">FQ</a></li>
        
      </ul>

      <div class="col-md-3 text-end head-btn">
        <a class="btn-navbar sp-color-white">Запись</a>
        <a class="btn-navbar white-color-sp">Контакты</a>
      </div>

    </header>
    <!--Навигационная панель конец-->

    <!--Головное изображение начало-->
    <div class="headers-image" >
      <img src="{% static 'img/border1.png' %}" class="img-fluid"  alt="barbers">
      <div class="content ">
        <p>Только <span>качественные</span><br> мужские стрижки</p>
        <p style="padding-top: 1.5rem;">С 2019 подстригли более <br><span>10.000 клиентов</span></p>
        <p>Салон <span>Premium</span> класса<br> для мужчин </p>
      </div>
    </div>
    <!--Головное изображение конец-->

    <!--Контакты начало-->
    <section class="info" id="info" >
      <div class="row">
        <div class="col-md-4 text-center info-col">
          <p>ВРЕМЯ РАБОТЫ БАРБЕРШОПА</p>
          <p>(10:00 - 22:00 БЕЗ ВЫХОДНЫХ)</p>
        </div>
        <div class="col-md-4 text-center info-col">
          <p>КРАСНОЯРСК </p>
          <p>АЛЕКСЕЕВА 48А</p>
        </div>
        <div class="col-md-4 text-center info-col">
          <p>+7 (800) 555 35 35</p>
          <p>+7 (800) 555 35 35</p>
        </div>
      </div>
    </section>
    <!--Контакты конец-->

    <!--Меню начало-->
    <section class="menu" id="menu" style="margin-bottom:2rem;">
      
      <div class="section-title">
        <p class="section-title-text">УСЛУГИ И ЦЕНЫ БАРБЕРШОПА</p>
      </div>

      <div class="menu-margin">
        <div class="row">
          <div class="col-lg-7">
            <ul class="nav nav-pills mb-3 tab-item" id="pills-tab" role="tablist">
              {% for type in types %}
                <li class="nav-item tab-items" role="presentation">
                    <a class="li-menu {% if type == types|first %} active {% endif %}" id="pills-{{type.id}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{type.id}}" type="button" role="tab" aria-controls="pills-{{type.id}}" aria-selected="true">
                      {{type.name}}
                    </a>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content lou-mb" id="pills-tabContent">
              <div class="row">
                <div class="col price">Услуга</div>
                <div class="col-1 d-none d-md-block"></div>
                <div class="col text-center price">Барбер</div>
                <div class="col text-center price">Старший барбер</div>
                <div class="col text-center price">Топ барбер</div>
              </div>
              <hr class="mt-1">
              {% for type in types %}
                <div class="tab-pane fade {% if type == types|first %} show active {% endif %}" id="pills-{{type.id}}" role="tabpanel" aria-labelledby="pills-{{type.id}}-tab">
                  {% for item in type.price.all %}
                    <div class="row">
                      <div class="col price">{{item.name}}</div>
                      <div class="col-1 d-none d-md-block"></div>
                      <div class="col text-center price">{{item.priceBarber}}₽</div>
                      <div class="col text-center price">{{item.priceBigBarber}}₽</div>
                      <div class="col text-center price">{{item.priceTopBarber}}₽</div>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <div class="sp-price">
              <div class="sp-price-border">
                <div class="sp-gor">
                  <h6 class="text-center">СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ</h6>
                    
                    {% for sp in offers %}
                      <p class="text-center">{{sp.offer}}</p>
                    {% endfor %}

                </div>
              </div>
            </div>
          </div>  
        </div>

      </div>

    </section>
    <!--Меню конец-->

    <!--Блок мастеров начало-->
    <section class="master" id="master">
      <div class="section-title">
        <p class="section-title-text">МАСТЕРА</p>
      </div>
      <div class="team">
        <div class="row block-uns-context">
  
        {% for barber in barbers %}
          
          <div class="col-md-3" style="padding: 0 .17rem;">
            <div class="card card-barber">
              <img src="{{barber.image.url}}" alt="" style="aspect-ratio: 4 / 5;" ;>
              <div class="team_text" >
              <p>
              {{barber.lastName}}
              {{barber.firstName}}<br></p>
              <div class="team_text_up">
                <hr color="#fff"  width="140" >
              <a class="semi-transparent-button" href="{{barber.get_absolute_url}}">РАБОТЫ</a>
              </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
    <!--Блок мастеров конец-->

    <!--Блок Работы начало-->
    <section class="works" id="works">

      <div class="section-title">
        <p class="section-title-text">РАБОТЫ</p>
      </div>

      <div class="work">
        <div class="row block-uns-work">
          {% for image in hearstyle %}
          <div class="col-md-4" style="padding: 0 .2rem;">
            <div class="card card-work" >
              <img src="{{image.image.url}}" alt="" style="aspect-ratio: 3 / 4;" ;>
              <div class="work_text">
                Работу выполнил Иван Иванов
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </section>  

    <!--Блок Работы конец-->

    <!--Отзывы начало-->
    <section class="review" id="review">
      <div class="section-title">
        <p class="section-title-text">ОТЗЫВЫ</p>
      </div>

      <div class="slick-wrapper slick-wrapper-review">
        <div id="slick-review">

          {% for review in reviews %}
          <div class="slide-item">
            <div class="card card-review border-dark  cart-border">
              <div class="card-header bg-black text-white">
                <p class="card-header-name">{{ review.name }}</p>
                <p class="card-header-stars">★★★★★ <span class="card-header-data">{{ review.data }}</span></p>
              </div>
              <div class="card-body text-dark">
                <p class="card-text">
                  {{ review.text }}              
                </p>
              </div>
            </div>
          </div> 
          {% endfor  %}

        </div>
      </div>  

    </section>
    
    <!--Отзывы конец-->

    <!--FQ начало-->
    <section class="fq" id="fq">

      <div class="section-title">
        <p class="section-title-text">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</p>
      </div>

      <div class="row row-fq">
        <div class="col-md-6 col-12 col-fq">
          <div class="accordion accordion-flush" id="accordionFlushLeft">
            {% for question in qustionLeft %}
              <div class="accordion-item" >
                <h2 class="accordion-header" id="flush-heading{{question.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{question.id}}" aria-expanded="false" aria-controls="flush-collapse{{question.id}}" >
                    {{question.title}}
                  </button>
                </h2>
                <div id="flush-collapse{{question.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{question.id}}" data-bs-parent="#accordionFlushLeft">
                  <div class="accordion-body">
                    {{question.answer|linebreaks}}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-6 col-12 col-fq">
          <div class="accordion accordion-flush" id="accordionFlushRight">
            {% for question in qustionRight %}
              <div class="accordion-item" >
                <h2 class="accordion-header" id="flush-heading{{question.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{question.id}}" aria-expanded="false" aria-controls="flush-collapse{{question.id}}" >
                    {{question.title}}
                  </button>
                </h2>
                <div id="flush-collapse{{question.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{question.id}}" data-bs-parent="#accordionFlushRight">
                  <div class="accordion-body">
                    {{question.answer|linebreaks}}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </section>
    <!--FQ конец-->
    {% endblock %}
    <!--Футер начало-->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top bg-black">
      <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <p class="text-muted">HIS</p>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
    <!--Футер конец-->

    <!--Jquery скрипт-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--Скрипты Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--Sliker скрипт-->
    <script src="{% static 'slick/slick.min.js'%}"></script>
    <!--локальные скрипты-->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
