{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Шрифты-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--Локальные стили-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-fq.css' %}">

    <title>HIS.Barber</title>
  </head>
  <body>
    <!--Навигационная панель начало-->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-4 border-bottom bg-black sticky-top">
      <a href="/" class="d-flex align-items-center col-md-3 mb-md-0 text-decoration-none">
        <h3 class="nav-logo">HIS</h3>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        
        <li><a href="#" class="nav-link-lo">Услуги</a></li>
        <li><a href="#" class="nav-link-lo">Мастера</a></li>
        <li><a href="#" class="nav-link-lo">Работы</a></li>
        <li><a href="#" class="nav-link-lo">Отзывы</a></li>
        <li><a href="#fq" class="nav-link-lo">FQ</a></li>
        
      </ul>

      <div class="col-md-3 text-end head-btn">
        <a class="btn-navbar sp-color-white">Запись</a>
        <a class="btn-navbar white-color-sp">Контакты</a>
      </div>

    </header>
    <!--Навигационная панель конец-->

    <!--FQ начало-->
    <section class="fq" id="fq">
      <div class="row row-fq">

        <div class="col-md-6 col-12 col-fq">
          <div class="accordion accordion-flush" id="accordionFlushLeft">
            {% for question in qustionLeft %}
              <div class="accordion-item" >
                <h2 class="accordion-header" id="flush-heading{{question.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{question.id}}" aria-expanded="false" aria-controls="flush-collapse{{question.id}}" >
                    {{question.title}}
                  </button>
                </h2>
                <div id="flush-collapse{{question.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{question.id}}" data-bs-parent="#accordionFlushLeft">
                  <div class="accordion-body">
                    {{question.answer}}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-6 col-12 col-fq">
          <div class="accordion accordion-flush" id="accordionFlushRight">
            {% for question in qustionRight %}
              <div class="accordion-item" >
                <h2 class="accordion-header" id="flush-heading{{question.id}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{question.id}}" aria-expanded="false" aria-controls="flush-collapse{{question.id}}" >
                    {{question.title}}
                  </button>
                </h2>
                <div id="flush-collapse{{question.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{question.id}}" data-bs-parent="#accordionFlushRight">
                  <div class="accordion-body">
                    {{question.answer}}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </section>
    <!--FQ конец-->

    <!--Футер начало-->
    <!--Футер конец-->

    <!--Скрипты Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
