
.slick-wrapper-review
{
    margin: 0 3%    ;
}
.review-cart-margin
{
    padding: .6rem;
}



.card-review{
    height: 200px;
    margin: .3rem .3rem;
    overflow: auto;
}
.card-review::-webkit-scrollbar {
    width: 0;
  }
.cart-border
{
    border-radius: 0;
}
.card-header:first-child 
{
    border-radius: 0;
}
.card-header p 
{
    margin: 0;
}
.card-body-review
{
    height: 100%;
    overflow: auto;
}