.work
{
    padding: 0 5rem;
    background-color: rgb(0, 0, 0);
}
.work img
{
    margin:0;  
}
.work .card-work .work_text {
  position: absolute;
  bottom: 0;
  color: rgb(255, 255, 255); 
  opacity: 0.8;
  font-size: 0.7rem;
  margin: 1% 25%;
  white-space:nowrap;
}
.work .card-work {
  position: relative;
  text-align: center;
  background-color: black;
}