*{
	margin: 0;
}
body
{
	background: #E6E6E6;
	min-height: 300vh;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 5px 50px;
	z-index: 1000;
	font-family: 'Montserrat';
}
header.sticky{
	padding: 5px 50px;
	background:#000;
}
header .logo{
	position: relative;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul{
	position: relative;
	display: flex;
}

header ul li{
	position: relative;
	list-style: none;
}

header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	font-style: normal;
	font-weight: 400;
	transition: 0.6s;
}



.banner
{
	position: relative;
	width: 100%;
	background-size: cover ;
}
.banner img
{
	position: relative;
	width: 100%;
	background-size: cover ;
}

.banner span
{
	position	: absolute;
	color:#fff;
	font-family: 'Montserrat';
}

.banner-title1
{
	top		: 4em;
	left    : 18em;
	
}
.banner_title2
{

	top		: 5em;
	left    : 34.5em;

}
.banner_title3
{

	top		: 4em;
	left    : 48em;

}