.team
{
    padding: 0 5rem;
    background-color: black;
}

.team img
{
    margin:0;    
}

.card-barber .team_text {
    background: rgba(0, 0, 0, 0.5); 
    position: absolute;
    bottom: 0;
    color: aliceblue;
    width: 100%;          
}

.card-barber:hover  .team_text_up {
    height: 35px;
}

.team hr {
    margin: 1% auto;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition-duration: 1.5s;
}

.card-barber:hover hr {
    margin: 1% auto;
    color: rgb(255, 255, 255);
    opacity: 1;
        
}
.team_text_up {
    height: 0;
    transition-duration: 0.4s;          
}  

.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 2% auto;
    padding: 1%;
    border: .13rem solid #ffffff;       
    max-width: 160px;   
    background: none;        
    border-radius: 0.6rem;
    text-align: center;
    white-space:nowrap;
    font-size:11px;
}

.semi-transparent-button p{
    margin-bottom:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.team .card-barber {
    position: relative;
    text-align: center;
    border: none;
    
}

.team a {
    color: #ffffff; 
    text-decoration: none; 
    transition-duration: 700ms; 
}

.team a:hover {
    color: #ffffff; 
    text-decoration: underline; 
    text-decoration: none;
    color: #D66228;
}
