
.slick-wrapper-review
{
    margin: 0 3%    ;
}
.review-cart-margin
{
    padding: .6rem;
    font-family: "Roboto";
}



.card-review{
    height: 180px;
    margin: .3rem .3rem;
    overflow: auto;
}
.card-review::-webkit-scrollbar {
    width: 0;
  }
.cart-border
{
    border-radius: 0;
}
.card-header:first-child 
{
    border-radius: 0;
}
.card-header p 
{
    margin: 0;
}


.card-header-name
{
    font-size: .95rem;
    font-weight: 300;
}
.card-header-stars
{
    font-size: .8rem;
}
.card-header-data
{
    font-size:.9rem;
    font-weight: 300;
}

.card-text
{
    font-size:.8rem;
    font-weight: 400;
}

.card-body-review
{
    height: 100%;
    overflow: auto;
}