.info{
    margin-bottom: 1rem;
    font-family: 'Open Sans';
}
.info .info-col{
    margin-top:1rem;
}
.info p{
    margin: 0;
    color: #000;
    font-size: 1rem;
    font-weight: 300;
}