*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
	text-transform: capitalize;
}
body
{
	background: #E6E6E6;
	min-height: 300vh;
}



.banner
{
	position: relative;
	width: 100%;
	background-size: cover ;
}
.banner img
{
	position: relative;
	width: 100%;
	background-size: cover ;
}

.banner span
{
	position	: absolute;
	color:#fff;
	font-family: 'Montserrat';
}

.banner-title1
{
	top		: 4em;
	left    : 18em;
	
}
.banner_title2
{

	top		: 5em;
	left    : 34.5em;

}
.banner_title3
{

	top		: 4em;
	left    : 48em;

}