details
{
    animation: animateDown 0.5s linear forwards;
    animation-duration: 1s;
    overflow: hidden;
}
  details[open] p {
    animation: animateDown 0.5s linear forwards;
    animation-duration: 1s;
    
  }
  
  @keyframes animateDown {
    0% {
      opacity: 0;
      transform: translatey(0);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }

details
{
    transition: height 1s linear;
    overflow: hidden;
}

details:not([open])
{
    height: 1.25em;
}

details[open]
{
    height: 2.50em;
}